<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caprusdigi.salon_ease">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SaloonEase">
        <activity
            android:name="com.caprusdigi.salon_ease.fillDetailsVendorSalonRegister"
            android:exported="true" />
        <activity
            android:name="com.caprusdigi.salon_ease.otpVerification"
            android:exported="true" />
        <activity
            android:name="com.caprusdigi.salon_ease.dashboard_vendor.bookingHistory_vendor"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.caprusdigi.salon_ease.dashboard_customer.dashboard_customer"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.caprusdigi.salon_ease.chooseYourself"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.caprusdigi.salon_ease.dashboard_vendor.dashboard_vendor"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.caprusdigi.salon_ease.forgotPassword"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.caprusdigi.salon_ease.fillDetailsUserRegister"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.caprusdigi.salon_ease.welcomeMobileEnter"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.caprusdigi.salon_ease.Splash_Screen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>